@import "font.css";

:root {
    --font: 'Inter', 'Arial', sans-serif;
    --font-features: 'cv05', 'cv08';

    --fs-md: 14px;

    --br-md: 10px;

    --bg-1: #140e1b;
    --bg-2: #1a1423;
    --bg-3: #261e37;
    --bg-4: #3f325a;

    --bg-1-50: #140e1b50;
    --bg-2-50: #1a142350;
    --bg-3-50: #261e3750;
    --bg-4-50: #3f325a50;

    --tx-1: #f3efff;
    --tx-2: #d8cdf1;
    --tx-3: #9688bd;

    --ac-1: #8e6bed;
    --ac-1-50: #8e6bed50;
    --ac-1-25: #8e6bed25;

    --success: #38b84d;
    --success-50: #38b84d50;

    --warn: #e39244;
    --warn-50: #e3924450;

    --danger: #e65448;
    --danger-50: #e6544850;

    --br-mn: 0px;
    --br-xxs: 2px;
    --br-xs: 4px;
    --br-sm: 6px;
    --br-md: 10px;
    --br-lg: 12px;
    --br-xl: 14px;
    --br-xxl: 18px;
    --br-mx: 99999px;
}

html {
    font-family: var(--font);
    font-feature-settings: var(--font-features);
    font-size: var(--fs-md);

    background-color: var(--bg-1);
    color: var(--tx-2);
}

body {
    margin: 0;

    font-family: var(--font);
    font-feature-settings: var(--font-features);
    font-size: var(--fs-md);
}

.ctn {
    display: flex;
    gap: 8px;

    .column {
        flex-direction: column;
    }
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;

    .inner {
        display: flex;
        align-items: center;
        gap: 8px;

        width: 100%;
        max-width: 725px;
        box-sizing: border-box;
        padding: 12px 16px;

        background-color: var(--bg-1);
        box-shadow: 0 0 10px var(--bg-1);

        span {
            font-weight: bold;
            font-size: var(--fs-md);
            margin-right: auto;
        }

        a {
            display: flex;
            align-items: center;
            gap: 4px;

            padding: 8px 10px;
            border-radius: var(--br-md);

            color: var(--tx-2);
            text-decoration: none;
            font-size: var(--fs-md);

            &:hover {
                color: var(--tx-2);
                background-color: var(--bg-2);
            }

            &.selected {
                color: var(--ac-1);
                background-color: var(--ac-1-25);
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 4px;

            overflow-x: auto;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;

    .inner {
        max-width: 725px;
        padding: 12px 16px;

        overflow-y: auto;

        width: 100%;
        height: calc(100vh - 50px);
        box-sizing: border-box;

        border-radius: var(--br-lg) var(--br-lg) 0 0;
        background-color: var(--bg-2);
    }
}

a {
    color: var(--ac-1);
    text-decoration: underline;
    text-decoration-color: var(--ac-1-50);

    &:hover {
        text-decoration-color: var(--ac-1);
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    &._50 {
        th, td {
            width: 50%;
        }
    }

    tr.header {
        th, td {
            border: none;
        }
    }

    th, td {
        text-align: left;
        border: 1px solid var(--bg-3);
        padding: 6px;

        &._75 {
            width: 75%;
        }
    }

    tr:nth-child(2n) {
        background-color: var(--bg-3-50);
    }
}

.navBtns {
    display: flex;
    gap: 8px;

    button, a {
        display: flex;
        align-items: center;
        gap: 4px;

        border-radius: var(--br-md);
        background-color: var(--bg-3);

        font-family: var(--font);
        font-feature-settings: var(--font-features);
        font-size: var(--fs-md);

        color: var(--tx-2);
        text-decoration: none;
        box-sizing: border-box;

        border: none;
        padding: 8px 10px;
        cursor: pointer;
    }
}