:root {
    --font: 'Inter', 'Arial', sans-serif;
    --font-features: 'cv05', 'cv08';

    --fs-md: 14px;

    --br-md: 10px;

    --bg-1: #140e1b;
    --bg-2: #1a1423;
    --bg-3: #261e37;
    --bg-4: #3f325a;

    --tx-1: #f3efff;
    --tx-2: #d8cdf1;
    --tx-3: #9688bd;

    --ac-1: #8e6bed;
    --ac-1-50: #8e6bed50;
    --ac-1-25: #8e6bed25;

    --success: #38b84d;
    --success-50: #38b84d50;

    --warn: #e39244;
    --warn-50: #e3924450;

    --danger: #e65448;
    --danger-50: #e6544850;
}

html {
    font-family: var(--font);
    font-feature-settings: var(--font-features);
    font-size: var(--fs-md);

    background-color: var(--bg-1);
    color: var(--tx-2);
}

body {
    margin: 0;

    font-family: var(--font);
    font-feature-settings: var(--font-features);
    font-size: var(--fs-md);
}

.ctn {
    display: flex;
    gap: 8px;
}