<!-- @formatter:off -->
<configuration>
    <conversionRule conversionWord="hlt" class="site.remlit.blueb.aster.util.log.HighlightConversion" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white(%d{HH:mm:ss}) %boldMagenta([%-12.12(%thread])) %hlt(%-5level) %white(%-35logger{16}) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.zaxxer.hikari.pool" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="site.remlit.blueb" level="DEBUG"/>
</configuration>
