@use "./lib/font/inter";

:root {
	--font: 'Inter', 'Arial', sans-serif;
	--font-features: 'cv05', 'cv08';

	--fs-mn: 0%;
	--fs-xxs: 0.50rem;
	--fs-xs: 0.75rem;
	--fs-sm: 0.8rem;
	--fs-md: 0.9rem;
	--fs-lg: 1rem;
	--fs-xl: 1.1rem;
	--fs-xxl: 1.35rem;
	--fs-mx: 100%;

	--br-mn: 0px;
	--br-xxs: 2px;
	--br-xs: 4px;
	--br-sm: 6px;
	--br-md: 10px;
	--br-lg: 12px;
	--br-xl: 14px;
	--br-xxl: 18px;
	--br-mx: 99999px;

	--blur-xs: 2px;
	--blur-sm: 4px;
	--blur-md: 8px;
	--blur-lg: 12px;
	--blur-xl: 20px;

	--funky-effect:
		inset 0 -0.1rem 2.5px #00000020, inset 0 0.035rem 1px #ffffff05,
		inset 0 0.055rem 2.5px #ffffff05;

	--bg-1: #140e1b;
	--bg-2: #1a1423;
	--bg-3: #261e37;
	--bg-4: #3f325a;

	--bg-1-50: #140e1b50;
	--bg-2-50: #1a142350;
	--bg-3-50: #261e3750;
	--bg-4-50: #3f325a50;

	--tx-1: #f3efff;
	--tx-2: #d8cdf1;
	--tx-3: #9688bd;

	--ac-1: #8e6bed;
	--ac-1-50: #8e6bed50;

	--success: #38b84d;
	--success-50: #38b84d50;

	--warn: #e39244;
	--warn-50: #e3924450;

	--danger: #e65448;
	--danger-50: #e6544850;
}

html {
	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);

	background-color: var(--bg-1);
	color: var(--tx-2);
}

body {
	display: flex;
	justify-content: center;

	height: 100vh;
	width: 100vw;
	box-sizing: border-box;

	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);

	margin: 0;
}

a {
	color: var(--ac-1);
	text-decoration: underline;
	text-decoration-color: var(--ac-1-50);

	&:hover {
		text-decoration-color: var(--ac-1);
	}
}

.button,
.input {
	display: flex;
	align-items: center;

	padding: 8px 10px;

	color: var(--tx-2);
	background-color: var(--bg-3);

	box-shadow: var(--funky-effect);
	border-radius: var(--br-md);
	border: none;

	font-family: var(--font);
	font-feature-settings: var(--font-features);
	font-size: var(--fs-md);

	text-decoration: none;

	transition:
		0.1s,
		width 0s,
		height 0s,
		border 0s;
}

.input,
.button,
.highlightable {
	transition:
		0.1s,
		border 0s,
		outline 0s,
		outline-offset 0s;

	&:disabled {
		cursor: not-allowed;

		color: var(--tx-3);
		opacity: 75%;
	}

	&:focus-visible {
		outline: 2px solid var(--ac-1-50);
		outline-offset: 1px;
	}
}

button.dismiss {
	display: flex;
	align-items: center;
	justify-content: center;

	color: inherit;
	background-color: transparent;

	border-radius: var(--br-md);
	border: none;

	transition:
		0.1s,
		width 0s,
		height 0s,
		border 0s,
		outline 0s,
		outline-offset 0s;

	&:focus-visible {
		border: 1px solid var(--ac-1);

		outline: 2px solid var(--ac-1-50);
		outline-offset: 1px;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 75%;
	}
}
